<div class="d-flex flex-column justify-content-between overflow-auto h-100 rounded-0">
  <ng-template #spatialStructTmpl let-node="node">
    <li class="me-2">
      <div [id]="node.expressID" class="d-flex align-items-center" [class.selected]="isSelected(node)">
        <div class="me-2">
          <button class="btn btn-sm" (click)="node.collapsed = !node.collapsed">
            <i *ngIf="!node.collapsed" class='bx bx-chevron-down'></i>
            <i *ngIf="node.collapsed" class='bx bx-chevron-right'></i>
          </button>
        </div>

        <span class="clickable d-inline-block text-truncate" style="max-width: 200px;" (click)="select(node)"
          (contextmenu)="openContextMenu(node, $event)" [class.text-decoration-line-through]="isHidden(node)">
          <span *ngIf="node?.Name?.value">{{node?.Name?.value}}</span>
          <span *ngIf="!node?.Name?.value">{{node.type}}</span>
        </span>
      </div>

      <ng-container *ngIf="!node.collapsed && node.children?.length > 0">
        <ul class="mt-2" *ngFor="let child of node.children">
          <ng-container *ngTemplateOutlet="spatialStructTmpl; context: { node: child }"></ng-container>
        </ul>
      </ng-container>
    </li>
  </ng-template>

  <ul *ngIf="tree$ | async" style="padding: 0">
    <ng-container *ngTemplateOutlet="spatialStructTmpl; context: { node: tree$ | async }"></ng-container>
  </ul>
</div>
