<div class="card h-100">
  <div class="card-header">
    Featured
  </div>
  <div class="card-body p-0 m-0">
    <div class="d-flex h-100">
      <div style="width: 22%">
        <div class="overflow-auto" style="height: 20%">
          <app-component-types></app-component-types>
        </div>
        <div class="overflow-auto" style="height: 80%">
          <app-spatial-tree></app-spatial-tree>
        </div>        
      </div>
      <app-ifc-viewer></app-ifc-viewer>
    </div>
  </div>
</div>
