<canvas #threeCanvas id="three-canvas"></canvas>

<div class="checkboxes">
  <div>
    <input checked="true" id="IFCWALLSTANDARDCASE" type="checkbox">
    <label for="IFCWALLSTANDARDCASE">Walls</label>
  </div>
  <div>
    <input checked="true" id="IFCSLAB" type="checkbox">
    <label for="IFCSLAB">Slabs</label>
  </div>
  <div>
    <input checked="true" id="IFCWINDOW" type="checkbox">
    <label for="IFCWINDOW">Windows</label>
  </div>
  <div>
    <input checked="true" id="IFCFURNISHINGELEMENT" type="checkbox">
    <label for="IFCFURNISHINGELEMENT">Furniture</label>
  </div>
  <div>
    <input checked="true" id="IFCDOOR" type="checkbox">
    <label for="IFCDOOR">Doors</label>
  </div>
  <div>
    <input checked="true" id="IFCMEMBER" type="checkbox">
    <label for="IFCMEMBER">Curtain wall structure</label>
  </div>
  <div>
    <input checked="true" id="IFCPLATE" type="checkbox">
    <label for="IFCPLATE">Curtain wall plates</label>    
  </div>
</div>
